<!DOCTYPE html>
<html>

<head>
    <title> My Blog gh-pages</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{site.baseurl}}/css/common.css">
</head>

<body>

	<header>
		<h1>Meine Blog</h1>
		<!-- Here should be navigation -->
		{% include nav.html navclass='nav-top' %}
	</header>


	{{ content }}

	<!-- Here shoulb be aside -->
	<!-- {% include aside.html %} -->
	<!-- Here shoulb be aside -->

	<footer>
		{% include nav.html navclass='nav-bottom' %}
		&copy; Grey Tractor 
	</footer>

</body>

</html>
