<!DOCTYPE html>
<html>

<head>
    <title class="title-text">
    {% if page.title %}
    	{{page.title}} * 
    {% endif %}
    My Blog gh-pages
    {% if page.title %}
    	{{page.afterTitle}} * 
    {% endif %}
    </title>

    <meta charset="utf-8">
    <meta name="description" content="{{page.meta}}">
    
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
    <!-- <link rel="stylesheet" href="{{site.baseurl}}/css/w3.css"> -->
</head>

<body>

	<header class="musthead {{page.mastheadClass}}">
		<h1>Meine Blog</h1>
		<!-- Here should be navigation -->
		{% include nav.html navclass='nav-top' %}
	</header>

	{{ content }}
	<!-- {% include aside.html %} -->
	<footer>
		{% include nav.html navclass='nav-bottom' %}
		&copy; Grey Tractor 
	</footer>

</body>

</html>
